/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: var(--color-gray-light);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* custom properties */
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(212, 45%, 89%);
  --color-blue-gray: hsl(220, 15%, 55%);
  --color-blue-dark: hsl(218, 44%, 22%);
}
/* card */
.card {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0 solid black;
  border-radius: 18px;
  background-color: var(--color-white);
  overflow: hidden;
}
/* inside style */
.card__hijo {
  margin: 1rem;
  text-align: center;
}
.card__img {
  border-radius: 12px;
}
.card__title {
  font-family: "Outfit";
  color: var(--color-blue-dark);
}
.card__paragraph {
  font-family: "Outfit";
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-blue-gray);
  margin-bottom: 2.5em;
}
